* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: "MesloLGS Nerd Font Mono";
 /* background-color: black;*/
}

#board {

}

h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
}

h1 {
  color: hsl(0, 0%, 25%);
}

table {
  border-collapse: collapse;
}

td {
  width: 9.4rem;
  height: 9.4rem;
  border: 0.1rem solid black;
}

.cells {
  text-align: center;
  vertical-align: middle;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  border-right: 0;
}

form {
  padding: 1.5rem;
  background-color: rgb(83, 175, 19);
}

form input {
  background-color: rgb(152, 207, 113);
  border-color: rbg(83, 175, 19);
  font-size: 1.6rem;
}

.hit {
  background-image: url("../img/ship_final.png");
  background-repeat: no-repeat;
  background-position: center;
}

.miss {
  background-image: url("../img/miss.png");
  background-repeat: no-repeat;
  background-position: center;
}
